<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pmsu_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PMSUProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.buyers.ViewArticleDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.sellers.CreateArticleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.sellers.EditArticleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.sellers.ListSellersArticles2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.buyers.LeaveOrderFeedbackActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.buyers.ListDeliveredOrdersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.buyers.ListUndeliveredOrdersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.buyers.ListSellerArticlesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.buyers.ListSellersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.sellers.CommentManagmentActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>